<launch>
  <!-- Launch arguments -->
  <arg name="car_name"         default="car"/>
  <arg name="mode_real"        default="false"/>
  <arg name="use_modified_map" default="false"/>

  <!-- Real Teleop -->
  <group if="$(arg mode_real)">
    <include file="$(find mushr_base)/launch/teleop.launch">
      <arg name="car_name" value="$(arg car_name)"/>
    </include>
  </group>

  <!-- Sim Teleop -->
  <group unless="$(arg mode_real)">
    <include file="$(find mushr_sim)/launch/teleop.launch">
      <arg name="car_name"        value="$(arg car_name)"/>
      <arg name="force_in_bounds" value="false"/>
    </include>
  </group>

  <!-- AMCL -->
  <include file="$(find amcl)/launch/amcl.launch">
    <arg name="car_name"         value="$(arg car_name)"/>
    <arg name="mode_real"        value="$(arg mode_real)"/>
    <arg name="use_modified_map" value="$(arg use_modified_map)"/>
  </include>
</launch>
