<launch>
  <!-- Launch arguments -->
  <arg name="car_name" default="car"/>
  <arg name="real"     default="false"/>

  <!-- MCL arguments -->
  <arg name="num_particles_min" default="1000"/>
  <arg name="num_particles_max" default="100000"/>

  <!-- Teleop Real -->
  <group if="$(arg real)">
    <include file="$(find mushr_base)/launch/teleop.launch">
      <arg name="car_name" value="$(arg car_name)"/>
    </include>
  </group>

  <!-- Teleop Sim -->
  <group unless="$(arg real)">
    <include file="$(find mushr_sim)/launch/teleop.launch">
      <arg name="car_name" value="$(arg car_name)"/>
    </include>
  </group>

  <!-- MCL -->
  <group ns="$(arg car_name)">
    <node pkg="mcl" type="mcl" name="localizer" output="screen">
      <param name="num_particles_min" type="int"    value="$(arg num_particles_min)"/>
      <param name="num_particles_max" type="int"    value="$(arg num_particles_max)"/>
      <param name="base_frame_id"     type="string" value="$(arg car_name)/base_link"/>
      <param name="wheel_bl_frame_id" type="string" value="$(arg car_name)/back_left/wheel_link"/>
    </node>
  </group>
</launch>