<launch>
  <!-- Launch arguments -->
  <arg name="car_name"    default="car"/>
  <arg name="real"        default="false"/>
  <arg name="standalone"  default="true"/>

  <arg name="num_particles"                    default="1000"/>
  <arg name="motion_lin_vel_n1"                default="0.01"/>
  <arg name="motion_lin_vel_n2"                default="0.01"/>
  <arg name="motion_ang_vel_n1"                default="0.01"/>
  <arg name="motion_ang_vel_n2"                default="0.01"/>
  <arg name="motion_th_n1"                     default="0.01"/>
  <arg name="motion_th_n2"                     default="0.01"/>
  <arg name="sensor_range_no_obj"              default="0.0"/>
  <arg name="sensor_std_dev"                   default="0.02"/>
  <arg name="sensor_th_sample_inc"             default="0.78539816339744830962"/> <!-- pi/4 -->
  <arg name="sensor_weight_new_obj_decay_rate" default="0.75"/>
  <arg name="sensor_weight_no_obj"             default="6.5"/>
  <arg name="sensor_weight_new_obj"            default="12.5"/>
  <arg name="sensor_weight_map_obj"            default="80.0"/>
  <arg name="sensor_weight_rand_effect"        default="1.0"/>
  <arg name="sensor_uncertainty_factor"        default="0.95"/>

  <!-- Map -->
  <group if="$(arg standalone)">
    <include file="$(find mcl)/launch/map_server.launch"/>
  </group>

  <!-- Car -->
  <group ns="$(arg car_name)">
    <!-- Laser -->
    <group if="$(arg standalone)">
      <!-- Real -->
      <group if="$(arg real)">
        <include file="$(find ydlidar)/launch/lidar.launch">
          <arg name="car_name" value="$(arg car_name)"/>
        </include>
      </group>
      <!-- Sim -->
      <group unless="$(arg real)">
        <include file="$(find mushr_sim)/launch/sensors.launch">
          <arg name="racecar_version" value="racecar-uw-nano"/>
          <arg name="standalone"      value="$(arg standalone)"/>
        </include>
      </group>
    </group>

    <!-- VESC (parameters only) -->
    <group ns="vesc">
      <rosparam file="$(find vesc_main)/config/racecar-uw-nano/vesc.yaml" command="load"/>
    </group>

    <!-- MCL -->
    <node pkg="mcl" type="mcl" name="localizer" output="screen">
      <param name="num_particles"                    type="int"    value="$(arg num_particles)"/>
      <param name="motion_lin_vel_n1"                type="double" value="$(arg motion_lin_vel_n1)"/>
      <param name="motion_lin_vel_n2"                type="double" value="$(arg motion_lin_vel_n2)"/>
      <param name="motion_ang_vel_n1"                type="double" value="$(arg motion_ang_vel_n1)"/>
      <param name="motion_ang_vel_n2"                type="double" value="$(arg motion_ang_vel_n2)"/>
      <param name="motion_th_n1"                     type="double" value="$(arg motion_th_n1)"/>
      <param name="motion_th_n2"                     type="double" value="$(arg motion_th_n2)"/>
      <param name="sensor_range_no_obj"              type="double" value="$(arg sensor_range_no_obj)"/>
      <param name="sensor_std_dev"                   type="double" value="$(arg sensor_std_dev)"/>
      <param name="sensor_th_sample_inc"             type="double" value="$(arg sensor_th_sample_inc)"/>
      <param name="sensor_weight_new_obj_decay_rate" type="double" value="$(arg sensor_weight_new_obj_decay_rate)"/>
      <param name="sensor_weight_no_obj"             type="double" value="$(arg sensor_weight_no_obj)"/>
      <param name="sensor_weight_new_obj"            type="double" value="$(arg sensor_weight_new_obj)"/>
      <param name="sensor_weight_map_obj"            type="double" value="$(arg sensor_weight_map_obj)"/>
      <param name="sensor_weight_rand_effect"        type="double" value="$(arg sensor_weight_rand_effect)"/>
      <param name="sensor_uncertainty_factor"        type="double" value="$(arg sensor_uncertainty_factor)"/>
    </node>
  </group>
</launch>